* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    


}

.container {
    position: relative;
    width: 100%;




}

.box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #004);



}

.cube {
    border: 5px solid white;
    position: relative;
    height: 120px;
    width: 120px;
    background-color: red;
    box-shadow: 0 0 5px rgb(201, 19, 19),
    0 0 25px rgba(201, 19, 19),
    0 0 50px rgba(201, 19, 19),
    0 0 100px rgba(201, 19, 19),
    0 0 200px rgba(201, 19, 19),
    0 0 300px rgba(201, 19, 19);
    animation: cubeFirst 1.5s ease-in-out infinite;
    border-radius: 4px;
    cursor: pointer;

}

@keyframes cubeFirst {
      0% {
        transform: scale(1);
        
      }
      25% {
        transform: scale(1.1);
        
    }
    50% {
        transform: scale(1.2);
        
    }
    75% {
        transform: scale(1.1);
        
    }
    100% {
        transform: scale(1);
        
    }
}

